header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 109px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--side-clearance);
    backdrop-filter: blur(32.5px);

    ul {
        display: flex;
        gap: 29px;
    }

    li {
        list-style: none;
    }

    a {
        &:hover {
            color: var(--color-green);
        }
    }

    @media(max-width: 970px) {
        padding: var(--side-clearance-mobile);
    }
}

nav {
    display: flex;
    align-items: center;
    gap: 29px;

    a {
        position: relative;
      
        &::after {
          content: "";
          display: block;
          width: 0;
          height: 3px;
          background-color: var(--color-purple);
          transition: all 225ms ease-in-out;
        }
      
        &:hover::after {
          width: 50%;
          margin-left: 0;
        }
    }
}

.logo-img {
    width: 75px;
    height: 75px;
    object-fit: contain;
}

.flag-img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    cursor: pointer;
}