<section id="about-me">
    <div class="about-me-parent">
        <h1 translate>About me</h1>
        <div class="about-me-text">
            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea accusantium praesentium nam nihil
                molestias,
                unde tempore facilis atque, culpa autem dicta! Fugiat obcaecati aperiam eos commodi facilis eaque
                deleniti
                quia!
            </span>
            <div class="text-position">
                <img src="assets/img/icons/lightbulb.png" alt="Lightbulb">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ducimus adipisci ad, blanditiis
                    nostrum commodi sequi nesciunt...
                </span>
            </div>
            <div class="text-position">
                <img src="assets/img/icons/puzzle.png" alt="Puzzle">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ducimus adipisci ad, blanditiis
                    nostrum commodi sequi nesciunt...
                </span>
            </div>
        </div>
    </div>

    <div class="about-me-img-position">
        <img class="about-me-img" src="assets/img/d_hartmann_portrait.png" alt="Daniel Hartmann">
        <div class="green-line"></div>
    </div>

    <div class="about-me-shape-shadow-img"></div>
</section>