<section id="about-me">
    <div class="about-me-parent">
        <h1 translate>About me</h1>
        <div class="about-me-text">
            <span translate>Welcome to my website. I am a passionate Frontend-Developer from Trier. 
                The IT industry has fascinated me since my school days. 
                I am motivated to utilize my passion for IT in a professional career and make a valuable contribution 
                by leveraging my quick grasp, willingness to learn, and enthusiasm. 
            </span>
            <div class="text-position">
                <img src="assets/img/icons/lightbulb.png" alt="Lightbulb">
                <span translate>I am ready to take the necessary steps to expand my knowledge and skills in the field of IT.
                </span>
            </div>
            <div class="text-position">
                <img src="assets/img/icons/puzzle.png" alt="Puzzle">
                <span translate>With my quick grasp, willingness to learn, and enthusiasm, 
                    I am confident that I can make a valuable contribution.
                </span>
            </div>
        </div>
    </div>

    <div class="about-me-img-position">
        <img class="about-me-img" src="assets/img/d_hartmann_portrait.png" alt="Daniel Hartmann">
        <div class="green-line"></div>
    </div>

    <div class="about-me-shape-shadow-img"></div>
</section>