section {
    scroll-margin-top: var(--header-hight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    h1 {
        margin-bottom: 10px;
    }

    @media(max-width: 970px) {
        padding: var(--side-clearance-mobile);
        justify-content: center;
    }
}

.about-me-img-position {
    display: flex;
    align-items: center;

    @media(max-width: 970px) {
        display: none;
    }
}

.about-me-img {
    width: clamp(18.75rem, 5.851rem + 21.277vw, 25rem);
    height: clamp(18.75rem, 5.851rem + 21.277vw, 25rem);
    object-fit: contain;
    border: 3px solid var(--color-green);
    border-radius: 50%;
}

.green-line {
    width: clamp(3.125rem, -16.248rem + 31.955vw, 29.688rem); //clamp(3.563rem, -23.525rem + 44.681vw, 16.688rem)
    height: 0px;
    border: 3px solid var(--color-green);
}

.about-me-parent {
    padding-left: 10%;
    width: 475px;

    img {
        &:hover {
            scale: 1.1;
        }
    }

    @media(max-width: 970px) {
        padding-left: 0;
        width: 100%;
    }
}

.about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

.about-me-shape-shadow-img {
    z-index: -1;
    position: absolute;
    top: -5%;
    right: 0;
    background-image: url('^assets/img/backgrounds/shape_shadow_about_me.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: clamp(200px, 173.68421052631578px + 8.223684210526317vw, 300px);
    height: 550px;
}

.text-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}
