<section>
    <div class="project-parent">
        <div>
            <img class="project-img" src="assets/img/projects/pc_join.png" alt="Project">
        </div>

        <div class="text-parent">
            <span class="title">Title</span>
            <span class="components">JavaScript | HTML | CSS | Backend</span>
            <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </span>
            <div class="button-parent">
                <a class="button button-live" target="_blank">Live test</a>
                <a class="button button-github" target="_blank">Github</a>
            </div>
        </div>
    </div>

    <div class="project-parent project-parent-reverse">
        <div>
            <img class="project-img" src="assets/img/projects/pc_join.png" alt="Project">
        </div>

        <div class="text-parent text-parent-reverse">
            <span class="title">Title</span>
            <span class="components">JavaScript | HTML | CSS | Backend</span>
            <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </span>
            <div class="button-parent button-parent-reverse">
                <a class="button button-live" target="_blank">Live test</a>
                <a class="button button-github" target="_blank">Github</a>
            </div>
        </div>
    </div>

    <img class="skills-shape-shadow-purple-img" src="assets/img/backgrounds/shape_shadow_projects_purple.png">
    <img class="skills-shape-shadow-green-img" src="assets/img/backgrounds/shape_shadow_projects_green.png">
</section>
