section {
    scroll-margin-top: var(--header-hight);
    margin-top: var(--header-hight);
    padding: var(--side-clearance);
    position: relative;

    @media(max-width: 970px) {
        padding: var(--side-clearance-mobile);
    }
}

.contact-parent {
    display: flex;
    justify-content: space-between;
    margin-top: 54.5px;
    width: 100%;
    gap: 50px;

    @media(max-width: 970px) {
        flex-direction: column;
        align-items: center;
    }
}

.text-parent {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;

    div {
        font-size: 2rem;
        font-weight: 700;
    }

    @media(max-width: 970px) {
        width: 100%;
    }
}

.input-parent {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    img {
        position: absolute;
        top: 4px;
        right: 11px;
        width: 25px;
        height: 25px;
        object-fit: contain;
    }

    @media(max-width: 970px) {
        width: 100%;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    input {
        font-family: 'Poppins';
        padding: 15px 30px;
        width: 100%;
        height: 35px;
        color: var(--color-font);
        background: var(--color-background);
        border: 1px solid var(--color-purple);
        border-radius: 10px;
        position: relative;
        box-sizing: border-box;
    }

    textarea {
        font-family: 'Poppins';
        padding: 15px 30px;
        width: 100%;
        height: 202px;
        color: var(--color-font);
        background: var(--color-background);
        border: 1px solid var(--color-purple);
        border-radius: 10px;
        position: relative;
        box-sizing: border-box;
    }

    input::placeholder,
    textarea::placeholder {
        font-family: 'Poppins';
        color: var(--color-font);
    }


    input:hover,
    textarea:hover {
        border-color: var(--color-light-blue);
    }


    @media(max-width: 970px) {
        width: 100%;
    }
}

.invalid-input {
    border: 1px solid var(--color-error) !important;
}

.valid-input {
    border: 1px solid var(--color-green) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 80px var(--color-background) inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--color-font) !important;
}

.error-height {
    height: 24px;
}

.error-message {
    height: 100%;
    font-size: 0.75rem;
    color: var(--color-error);
}

.button-form {
    width: 215px;
    height: 63px;
    color: var(--color-font);
    border: 0px;
    transition: all 225ms ease-in-out;
    position: relative;
}

.purple-line {
    position: absolute;
    top: clamp(1.875rem, -2.898rem + 7.872vw, 4.188rem);
    left: 0;
    width: clamp(3.625rem, -3.082rem + 11.064vw, 6.875rem);
    height: 0px;
    border: 3px solid var(--color-purple);

    @media(max-width: 970px) {
        width: clamp(0.313rem, -0.457rem + 3.846vw, 1.875rem);
    }
}

.contact-shape-shadow-img {
    z-index: -1;
    position: absolute;
    bottom: -30%;
    left: -10%;
    width: clamp(31.25rem, 15.155rem + 26.549vw, 50rem);
    height: clamp(31.25rem, 15.155rem + 26.549vw, 50rem);

    @media(max-width: 970px) {
        width: clamp(15.625rem, 7.933rem + 38.462vw, 31.25rem);
        height: clamp(15.625rem, 7.933rem + 38.462vw, 31.25rem);
    }
}

.email-send-message {
    z-index: 10000;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    width: 326px;
    height: 74px;
    background-color: var(--color-background);
    border: 1px solid var(--color-purple);
    border-radius: 10px;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    opacity: 0;

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;

        width: 100%;
        height: 100%;
    }

    @media(max-width: 970px) {
        width: 246px;
        height: 54px;
    }
}

.loader {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    transition: opacity 0, 75s, visibility 0.75s;
    z-index: 50;
  }

  .loader::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 15px solid var(--color-font);
    border-top-color: var(--color-light-blue);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }

.email-send-message-animation {
    animation: bottomToTop 0.8s ease-in-out forwards 0.2s;
}

@keyframes bottomToTop {
    from {
        top: 90%;
        opacity: 0;
    }

    to {
        top: 60%;
        opacity: 1;
    }
}

@keyframes loading {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }