header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 109px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px 0px 25px;
    backdrop-filter: blur(32.5px);

    nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-background-transparency);
        transform: translateX(100%);
        transition: transform 425ms;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    li {
        list-style: none;
        padding: 25px;
    }

    img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
}

.burger-menu {
    width: 50px;
    height: 40px;
    position: fixed;
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
    cursor: pointer;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    width: 30px;
    height: 3px;
    position: relative;
    background-color: var(--color-font);
}

.bar::before,
.bar::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--color-font);
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    left: 0px;
    transition: all 225ms ease;
}

.bar::before {
    top: -10px;
}

.bar::after {
    bottom: -10px;
}

.open {
    background-color: transparent;
}

.open::before {
    transform: translateY(10px) rotate(45deg);
}

.open::after {
    transform: translateY(-10px) rotate(-45deg);
}

.active {
    transform: translateX(0%) !important;
}

.slide-in li {
    animation: slide-in-li 825ms forwards;
    opacity: 0;

    &:nth-child(1) {
        animation-delay: 100ms;
    }
    &:nth-child(2) {
        animation-delay: 200ms;
    }
    &:nth-child(3) {
        animation-delay: 300ms;
    }
}

@keyframes slide-in-li {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    70% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}