<section id="skills">
    <div class="icons-parent">
        <div class="icons-child">
            <img src="assets/img/skills/angular.png" alt="Angular">
            <span>Angular</span>
        </div>
        <div class="icons-child">
            <img src="assets/img/skills/ts.png" alt="TypeScript">
            <span>TypeScript</span>
        </div>
        <div class="icons-child">
            <img src="assets/img/skills/js.png" alt="JavaScript">
            <span>JavaScript</span>
        </div>
        <div class="icons-child">
            <img src="assets/img/skills/html.png" alt="HTML">
            <span>HTML</span>
        </div>
        <div class="icons-child">
            <img src="assets/img/skills/css.png" alt="CSS">
            <span>CSS</span>
        </div>
        <div class="icons-child">
            <img src="assets/img/skills/firebase.png" alt="Firebase">
            <span>Firebase</span>
        </div>
        <div class="icons-child">
            <img src="assets/img/skills/git.png" alt="GIT">
            <span>GIT</span>
        </div>
        <div class="icons-child">
            <img src="assets/img/skills/api.png" alt="Rest-Api">
            <span>Rest-Api</span>
        </div>
        <div class="icons-child">
            <img src="assets/img/skills/scrum.png" alt="SCRUM">
            <span>SCRUM</span>
        </div>
        <div class="icons-child">
            <img src="assets/img/skills/material_design.png" alt="Material Design">
            <span>Material</span>
            <span>Design</span>
        </div>
    </div>

    <div class="purple-line"></div>

    <div class="about-me-parent">
        <div class="about-me-text">
            <h1 translate>My skills</h1>
            <p translate>I have gained experience in building projects with various front end technologies and concepts.</p>
        </div>
        <a href="#contact" class="button button-about-me">Get in touch!</a>
    </div>

    <img class="skills-shape-shadow-img" src="assets/img/backgrounds/shape_shadow_skills.png">
</section>
