<section>
    <div class="introduction-parent">
        <div>
            <img class="introduction-img" src="assets/img/d_hartmann.png" alt="Daniel Hartmann">
            <img class="introduction-shape-shadow-img" src="assets/img/backgrounds/shape_shadow_introduction.png">
        </div>
        <div class="introduction-text">
            <div class="introduction-text-child">
                <div class="text-y" [class.text-y-german]="language == 'de'" translate>I am</div>
                <div>
                    <span class="text-name">Daniel Hartmann</span>
                    <div class="text-job">FRONTEND DEVELOPER</div>
                </div>
            </div>
            <div class="button-position">
                <a href="#contact" class="button button-introduction">Let's talk!</a>
            </div>
        </div>

        <img class="vector-desktop-img" src="assets/img/backgrounds/vector_desktop.png">
        <img class="vector-mobile-img" src="assets/img/backgrounds/vector_mobile.png">
    </div>

    <div class="social-media-parent">
        <div class="purple-line"></div>
        <a href="https://github.com/DHartmann94" target="_blank">
            <img src="assets/img/icons/git_hub.png" title="Git Hub" alt="Git-Hub">
        </a>
        <a href="mailto: daniel.hartmann28@yahoo.de">
            <img src="assets/img/icons/email.png" title="e-Mail" alt="e-Mail">
        </a>
        <a href="https://www.linkedin.com/in/daniel-hartmann-55a9b227a/" target="_blank">
            <img src="assets/img/icons/linkedin.png" title="LinkedIn" alt="LinkedIn">
        </a>
        <a href="mailto: daniel.hartmann28@yahoo.de" class="email" title="Send Mail">daniel.hartmann28@yahoo.de</a>
    </div>

    <div class="scroll-down-parent">
        <span>Scroll down</span>
        <img src="assets/img/icons/arrow_down.png">
    </div>
</section>