<section>
    <div class="introduction-parent">
        <img title="Daniel Hartmann" alt="Daniel Hartmann">
        <div class="introduction-text">
            <div class="text-y">I am</div>
            <div>
                <span class="text-name">Daniel Hartmann</span>
                <div class="text-job">FRONTEND DEVELOPER</div>
                <div class="button-position">
                    <a href="#contact" class="button">Let's talk!</a>
                </div>
            </div>
        </div>
    </div>
</section>
