/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    padding: 0px;
    margin: 0px;
}


html,
body {
    height: 100%;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: var(--color-font);
    background-color: var(--color-background);
    scroll-behavior: smooth;
}

a {
    font-size: var(--font-size-mid);
    text-decoration: none;
    color: var(--color-font);
    transition: all 225ms ease-in-out;
    cursor: pointer;
}

@media(min-width: 720px) {
    .hide-mobile {
        display: none !important;
    }
}

@media(max-width: 720px) {
    .hide-desktop {
        display: none !important;
    }
}